body {
  margin: 0;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-gap: 1px;
  justify-content: center;
  margin-top: 50px;

  div {
    font-family: Arial;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    box-sizing: border-box;
    background: #eee;
    transition: margin-top 0.5s ease-out, background-color 0.5s ease-out;;
  }

  div:hover {
    background-color: pink;
    margin-top: -20px;
    cursor: pointer;
  }

  $list: (mon, tue, wed, thu, fri, sat, sun);
  $p: 1;
  @each $item in $list {
    &-#{$item} div:nth-child(1) {
      grid-column-start: $p+1 ;
    }
    $p: $p+1;
  }

  @for $i from 28 through 31 {
    &-#{$i} div:nth-last-child(-n+#{31-$i}) {
      display: none;
    }
  }
}